* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}

body {
     font-family: "work sans",sans-serif;
}

.parent {
    background-color: #eee;
    
}
.container {
    padding-right:15px;
    padding-right: 15px;
    margin-right:auto;
    margin-left:auto;
    width: 600px;
    background-color: #aaa;
}


@media  (min-width: 768px) {
    .container{
        width:750;
    }

    
}

@media (min-width: 992px) {
    


    
}