* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}

body {
     font-family: "work sans",sans-serif;
}


.container {
    padding-right:15px;
    padding-right: 15px;
    margin-right:auto;
    margin-left:auto;
    width: 600px;
}


@media  (min-width: 768px) {
    .container{
        width:750px;
    }

    
}

@media (min-width: 992px) {
    .container{
        width:970px;
    }

    
}

@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}

.header {
    padding:20px
}

.header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.logo {
    width: 60px;

}

.header.links {
    position:relative;

}

.header.links.icon span{
    background-color: #333;
    margin-bottom: 5px;
    


}


